# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Models and Large Files
*.pth
*.pkl
*.h5
*.ckpt
*.pt
# OS Specific
.DS_Store
.AppleDouble
.LSOverride

# Kaggle Output
/kaggle/

# IDE
.vscode/
.idea/

# Assignment Data / Artifacts
.env
ipynb_checkpoints/
best_model.pth
model_chunk_*
flagged/
